.text-container {
    margin: 0 auto;
    padding: 4px;
    width: 90%;
}

.text-container p {
    color: var(--color-text-dark-blue);
    font-family: Roboto, sans-serif;
    font-size: 18px;
    text-align: justify;
}

.formula-title {
    color: var(--color-text-dark-blue);
    text-align: left;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    margin-left: 5px;
}

.formulas-container {
    align-items: center;
}

@media (max-width: 700px){
    footer {
        position: relative;
        bottom: 0;
    }
}