.text-container {
    margin: 0 auto;
    padding: 4px;
    width: 90%;
}

.text-container p {
    color: var(--color-text-dark-blue);
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    text-align: justify;
}