.header-container {
    background-color: var(--color-secondary);
    border-radius: 5px;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 100%;
    height: 160px;
    text-align: center;
}

.header-container h2 {
    font-size: 40px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: var(--white);
}

.buttons-div {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 20px;
}

.buttons-div a + a{
    margin-left: 5px;
}

.buttons-div a button {
    margin: 0;
}

@media (max-width: 700px){
    .header-container h2 {
        font-size: 32px;
    }

    .buttons-div a button {
        margin: 4px auto;
        width: 90%;
    }

    .buttons-div a:first-child button{
        margin-left: 6px;
        width: 89.5%;
    }

    .buttons-div a button + a button::before {
        margin-left: auto;
        margin-left: auto;
    }

    .header-container {
        height: auto;
    }
}